{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
    <div  style="background-color: #e3f2fd; padding: 20px; margin-bottom: 20px;">

        <a class="btn-home" style="padding-right: 10px;" >Почетна страна</a>
        <a class="btn-glas" style="padding-right: 10px;">Унос учесника на изборима</a>
        <a class="btn-user" style="padding-right: 10px;">Унос комисије на изборима</a>
        <a href="/logout" style="padding-right: 10px; float: right;">Одјава</a>
        <a href="/results" style="padding-right: 10px;float: right;">Резултати</a>
           
    </div>  
  <div class="row justify-content-center">
    <div class="col-lg-12 home">
      <div class="jumbotron text-center">
        {% if data['started'] == 1 %}
          <h2 id="naslov">Избори су почели</h2>
          <p id="podnaslov">Кликните доле за крај гласања</p>          
        {% else %}
          <h2>Добро дошли на сајт овогодишних избора</h2>
          <p>Кликните доле за почетак гласања</p>
        {% endif %}
      </div>
      <div style="text-align: center;">
        <form action="/admin" method="post">
          <button class="btn btn-primary btn-end" >Затвори / Покрени гласање</button>       
        </form>
     </div>
    </div>

    <div class="col-lg-6 glas">
      <form action="/admin" method="post">
        <div class="form-group">
          <label for="voting-options">Унеси кандидате: </label>
          <textarea class="form-control" rows="5" id="voting-options" name="voting-options" placeholder="Новог кандидата инесите испод ..." required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Зачувај податке</button>
      </form>
    </div>
    <div class="col-lg-6 user">
        <form action="/admin" method="POST">
            <div class="form-group">
                <label for="title">Корисничко име</label>
                <input type="text" class="form-control" id="title" name="user" placeholder="Унесите корисничко име" required>
            </div>
            <div class="form-group">
                <label for="title">Шифра</label>
                <input type="text" class="form-control" id="title" name="code" placeholder="Унесите шифру" required>
            </div>
            <button type="submit" class="btn btn-primary">Зачувај новог корисника</button>      
        </form>
    </div>
  </div>
</div>

<script>
    var i = 0;
    let btnGlas = document.querySelector(".btn-glas");
    let formaGlas = document.querySelector(".glas");
    let btnHome = document.querySelector(".btn-home");
    let formaHome = document.querySelector(".home");
    let btnUser = document.querySelector(".btn-user");
    let formaUser = document.querySelector(".user");

    formaGlas.style.display = "none";
    formaHome.style.display = "block";
    formaUser.style.display = "none";
    

    btnHome.addEventListener("click", () => {
        console.log("ajdee1");
        formaGlas.style.display = "none";
        formaHome.style.display = "block";
        formaUser.style.display = "none";
    });
    btnGlas.addEventListener("click", () => {
        console.log("ajdee2");
        formaGlas.style.display = "block";
        formaHome.style.display = "none";
        formaUser.style.display = "none";
    });
    btnUser.addEventListener("click", () => {
        console.log("ajdee3");
        formaGlas.style.display = "none";
        formaHome.style.display = "none";
        formaUser.style.display = "block";
    });


    //ovde su ubaci da menja vreme
    var myVar = setInterval(myTimer, 1000);
    var tm = document.getElementById("podnaslov").innerHTML;

    function myTimer() {
      var d = new Date();

      var h= 24-d.getHours();
      var m= 59-d.getMinutes();
      var s= 59-d.getSeconds();
/*
      document.getElementById("podnaslov").innerHTML = String((h-(h%10))/10) + String(h%10) + ":";
      document.getElementById("podnaslov").innerHTML += String((m-(m%10))/10) + String(m%10) + ":";
      document.getElementById("podnaslov").innerHTML += String((s-(s%10))/10) + String(s%10);
*/
      //document.getElementById("podnaslov").innerHTML = tm + 2;

    }
</script>
{% endblock %}